@import url(../reset.css);
@import url(../webFont.css);
@import url(../root.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

/* ===== find id, password ===== */
.find_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    width: 100%;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px #333; */
}

/* title */
.find_info_title {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: var(--font-logo);
    font-size: 20px;
}

/* radio button */
#find_id_check,
#find_pw_check {
    display: none;
}

.select_id_pw {
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 50px;
}

.select_id_pw>label {
    display: block;
    width: 250px;
    height: 50px;

    font-size: 12px;
    text-align: center;
    line-height: 50px;

    background-color: #cccccc;

    cursor: pointer;
}

/* find id, pass label hover */
.select_id_pw>label:hover {
    filter: brightness(90%);
}

/* find id */
.select_id_pw>label:first-child {
    border-top-left-radius: 20px;
}

/* find password */
.select_id_pw>label:last-child {
    border-top-right-radius: 20px;
}

.input_box {
    max-width: 500px;
    width: 100%;
    height: 450px;

    box-sizing: border-box;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input_box>form {
    width: calc(100% - 30px);
    height: 100%;
    display: none;
    border-radius: 20px;
    padding-left: 30px;
}

#member_email {
    height: 35px;
    border: none;

    background-color: #f3f3f3;
}

/* radio button checked */
#find_id_check:checked~.select_id_pw>label:first-child,
#find_pw_check:checked~.select_id_pw>label:last-child {
    background-color: #fff;

    box-sizing: border-box;
    border-bottom: none;
}

#find_id_check:checked~.input_box>.find_id,
#find_pw_check:checked~.input_box>.find_pw {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

#find_id_check:checked~.input_box>.find_pw,
#find_pw_check:checked~.input_bpx>.find_id {
    display: none;
}

/* input & button */
.button_box {
    width: calc(100% - 30px);
    text-align: center;
}

.button_submit,
.button_cancel,
.input_find {
    text-align: center;
    border-radius: 5px;
    border: none;
}

.button_submit:focus,
.button_cancel:focus,
.input_find:focus {
    outline: none;
}

.certification {
    display: inline-block;
    margin: 20px 0 0 20px;
    text-decoration: none;
    color: #333;
}

.certification:hover {
    text-decoration: underline;
}

.button_submit:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.button_cancel:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.button_submit {
    width: 100px;
    height: 35px;
    background-color: #333;
    color: #fff;
}

.button_cancel {
    width: 80px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #333;
    box-sizing: border-box;
}

.input_find {
    width: 150px;
    height: 35px;
    margin-top: 10px;
    background-color: #f3f3f3;
}

@media (max-width: 600px) {

    /* ===== find id, password ===== */
    .find_info {
        border-radius: 0px;
    }

    /* find id */
    .select_id_pw>label:first-child {
        border-top-left-radius: 0px;
    }

    /* find password */
    .select_id_pw>label:last-child {
        border-top-right-radius: 0px;
    }

    .input_box {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .input_box>form {
        border-radius: 0px;
    }
}